<html lang="en">
<head>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/tableC.css') }}">
	<meta charset="utf-8" />
	<title>Book Catalogue</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>
<body>


<div class="table-title">
	<a style="float:right; margin-top:45px; margin-right:5px" href="logout">Logout</a>
	<h3>Welcome!</h3>
	<form action="/addBookIsbn" method="post">
		{% if errorCode == -1 %}
			<p style="color:red;">{{error}}</p>
		{% elif errorCode == 1 %}
			<p style="color:#37DB05;">Successfully added to the catalog</p>
		{% endif %}


	<input type="text" name="isbn" value="">
	<button type="submit">Add book to my list </button>
	</form>

	</div>

<div class="caption">Book Catalogue</div>
<div id="table">
	<div class="header-row row">
    <span class="cell">Title</span>
    <span class="cell">Author</span>
    <span class="cell">Page Count</span>
    <span class="cell">Rating average</span>
	<span class="cell">Action</span>
  </div>
  {% for i in allBooks %}
	<div class="row">
	<span class="cell">{{i['title']}}</span>
    <span class="cell">{{i['author']}}</span>
	<span class="cell">{{i['page_count']}}</span>
    <span class="cell">{{i['average_rating']}}</span>
	<span class="cell"><a style="text-decoration:none;" href="/deleteBook/{{i['id']}}"> Delete book from Catalogue</a></span>

    </div>
  {% endfor %}

</div>
</body>
</html>